*{
    margin: 0;
    padding: 0;
}
.text-center{
    font-size: 60px;
}
#logo{
    width: 50px;
    border-radius: 100%;
}


 #home{
    background: url(../img/IMG_20200308_123053.jpg) no-repeat center center fixed;
     display: table;
     height: 100vh;
     position: relative;
     width: 100%;
     background-size: cover;
}
.landing-text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;

}

.padding{
    padding: 80px 0;
    padding-left: 1.5rem;
}

.header-title{
    font-size: 60px;
    font-family:FredokaOne-Regular ;
    color:white;
}
.next{
    font-size: 20px;
    font-style: italic;
    font-style: inherit;
    font-weight: bold;
    color: black;
}
p{
    padding-bottom: 10px;
    font-style: normal;
    font-size: small;
}
.card{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 10px;
   
}





/*footer*/
footer{
    width: 100%;
    background-color: rgb(59, 58, 58);
    padding-top: 2%;
    color: white;
}

.fa{
    padding-right: 5%;
    font-size: 15px;
    color: white;
}

#copyright{
    font-size: small;
    padding-bottom: 1rem;
}

.icon{
    max-width: 90px;
}